@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#030303] text-white;
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 14px;
  }

  ::-webkit-scrollbar-track {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #181818;
  }

  ::-webkit-scrollbar-thumb {
    background: #606060;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #717171;
  }
}
